<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/all-articles">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                {{#if validUser}}
                <a href="/create">Create New Article</a>
                {{/if}}
            </nav>
        </aside>
        <div id="container">
            <header>
                <a href="/register">Register</a>
                {{#if validUser}}
                <span>Welcome, {{validUser.username}}!</span>
                <a href="/logout">[Logout]</a>
                {{else}}
                <span>Welcome, Guest!</span>
                {{/if}}
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <section>
                    <h2>Login</h2>
                    <div class="spacer">
                            <form action='/loginPost' method="POST">
                            <label>Username:</label>
                            <input type="text" class="username" name='username'>
                            <label>Password:</label>
                            <input type="password" class='password' name='password'>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>